.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);


}
/*Card styles*/
.card{
  width: 95%;
  height:95%;
  transition: transform .2s;
}
.btnCard{
  width: 20rem;
  border-radius: 0;
}
.card:hover{
  transform: scale(1.2);
}
/* Set card backgrounds */
.cardSet1{
 background-color: #F3D76A;
}

.cardSet2{
 background-color: #EDB28A;
}
.cardSet3{
background-color: #F6F8F7;
}
.cardSet4{
background-color: #FFAEAA;
}
.cardSet5{
background-color: #F8EFC4;
}
.cardSet6{
background-color: #F3BC93;
}

/* Page 4 styles*/
h5 {
  font-size: 35px;
  text-align: center;
}

ol {
list-style: none;
}

#page4 {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 20px;
}

.cultureshow1{
  margin-top: 10%;
}
.cultureshow2{
  margin-top: 10%;
}
.cultureshow3{
  margin-top: 10%;
}
.cultureshow4{
  margin-top: 10%;
}
#languageshow2{
  display: none;
}
#languageshow3{
  display: none;
}
#languageshow4{
  display: none;
}
#languageshow5{
  display: none;
}
#financequestions{
  margin-top: 10%;
}
#temperamentquestions{
  margin-top: 10%;
}
#knowquestions{
  margin-top: 10%;
}
#personalityquestions{
  margin-top: 10%;
}
#ebutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#ebutton1:hover{
  background-color: black;
}


