.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);


}
/*Card styles*/
.card{
  width: 95%;
  height:95%;
  transition: transform .2s;
}
.btnCard{
  width: 20rem;
  border-radius: 0;
}
.card:hover{
  transform: scale(1.2);
}
/* Set card backgrounds */
.cardSet1{
 background-color: #F3D76A;
}

.cardSet2{
 background-color: #EDB28A;
}
.cardSet3{
background-color: #F6F8F7;
}
.cardSet4{
background-color: #FFAEAA;
}
.cardSet5{
background-color: #F8EFC4;
}
.cardSet6{
background-color: #F3BC93;
}

/* Page 4 styles*/
h5 {
  font-size: 35px;
  text-align: center;
}
#page4 {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 20px;
}

.cultureshow1{
  margin-top: 10%;
}
.cultureshow2{
  margin-top: 10%;
}
.cultureshow3{
  margin-top: 10%;
}
.cultureshow4{
  margin-top: 10%;
}
#lovelanguagequestions{

}
#financequestions{
  margin-top: 10%;
}
#temperamentquestions{
  margin-top: 10%;
}
#knowquestions{
  margin-top: 10%;
}
#personalityquestions{
  margin-top: 10%;
}
#ebutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#ebutton1:hover{
  background-color: black;
}
#ebutton2 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#ebutton2:hover{
  background-color: black;
}
#ebutton3 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#ebutton3:hover{
  background-color: black;
}
#ebutton4 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#ebutton4:hover{
  background-color: black;
}
.cultureshow2 {
  display: none;
}
.cultureshow3{
  display: none;
}
ol {
  list-style: none;
}
.cultureshow4 {
  display: none;
}
.cultureshow5 {
  display: none;
}
.financeshow2 {
  display: none
}
#fbutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#fbutton1:hover{
  background-color: black;
}
#fbutton2 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#fbutton2:hover{
  background-color: black;
}
#fbutton3 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#fbutton3:hover{
  background-color: black;
}
#fbutton4 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#fbutton4:hover{
  background-color: black;
}
#fbutton5 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#fbutton5:hover{
  background-color: black;
}
#tbutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#tbutton1:hover{
  background-color: black;
}
#tbutton2 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#tbutton2:hover{
  background-color: black;
}
#tbutton3 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#tbutton3:hover{
  background-color: black;
}
#tbutton4 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#tbutton4:hover{
  background-color: black;
}
#tbutton5 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#tbutton5:hover{
  background-color: black;
}
#kbutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#kbutton1:hover{
  background-color: black;
}
#kbutton2 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#kbutton2:hover{
  background-color: black;
}
#kbutton3 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#kbutton3:hover{
  background-color: black;
}
#kbutton4 {
  margin-left: 80%;
  margin-top: 2%;
  width: 2cm;
}
#kbutton4:hover{
  background-color: black;
}
#kbutton5 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#kbutton5:hover{
  background-color: black;
}
#pbutton1 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#pbutton1:hover{
  background-color: black;
}
#pbutton2 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#pbutton2:hover{
  background-color: black;
}
#pbutton3 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#pbutton3:hover{
  background-color: black;
}
#pbutton4 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#pbutton4:hover{
  background-color: black;
}
#pbutton5 {
  margin-left: 80%;
  margin-top: 2%;
  width: 3cm;
}
#pbutton5:hover{
  background-color: black;
}
.financeshow3 {
  display: none
}
.financeshow4 {
  display: none
}
.financeshow5 {
  display: none
}
.temperamentshow2 {
  display: none
}
.temperamentshow3 {
  display: none
}
.temperamentshow4 {
  display: none
}
.temperamentshow5 {
  display: none
}
.knowyoushow2 {
  display: none
}
.knowyoushow3 {
  display: none
}
.knowyoushow4 {
  display: none
}
.knowyoushow5 {
  display: none
}
.personalityshow2 {
  display: none;
}
.personalityshow3 {
  display: none;
}
.personalityshow4 {
  display: none;
}
.personalityshow5 {
  display: none;
}
